.contact-us {
    min-height: calc(101vh - 394px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .section-1 {
        .heading {
            font-size: 3rem;
            font-weight: 700;
            color: #0E3336;
            line-height: 56px;
            letter-spacing: 1px;
        }
        .description {
            color: #2D3748;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
@media (max-width: 768px) {
    .contact-us .section-1 .heading {
        font-size: 2rem;
    }
    
}